/* ------------------------- CONTENT 2  ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
     margin: 0px;
     padding: 0px;
     scroll-behavior: smooth;
}

body {
     height: auto;
}

main {
     display: grid;
     grid-template-columns: 50% 50% !important;
}

main aside {
     height: 100%;
}

main aside:first-child {
     display: flex;
     align-items: center;
     justify-content: center;
     flex: 1;
}

main aside:last-child {
     display: grid;
     align-items: flex-end;
     flex: 2;
}

main aside:last-child h2{
     color: #4D2E06;
     text-shadow: 3px 3px 2px white;
     font-family: 'Alfa Slab One', cursive;
     font-size: 2.7em;
     grid-column-end: span 1;
}

main aside:last-child section {
     grid-column-end: span 5;
     display: grid;
     grid-template-columns: repeat(2, auto);
     align-content: flex-start;
     justify-content: center;
     gap: 20px;
}

main aside:last-child section button{
     margin-top: 10%;
     padding : 15px 30px 15px 30px;
     box-sizing: border-box;
     cursor: pointer;
     border-radius: 50px;
     outline: none;
     border: 0px;
     color: white;
     font-size: 0.9em;
}


main aside:last-child section button:first-child{
     background-color: red;
}

main aside:last-child section button:last-child{
     background-color: transparent;
     border: 2px solid red;
     transition: 0.3s;
}

main aside:last-child section button:last-child:hover{background-color: red;}

main aside img{
     width: 70%;
     height: 70%;
} 

#container5 {
     width: 70%;
     height: auto;
     border-radius: 70px;
     margin: auto;
     margin-top: 3%;
     box-shadow: -1px 14px 48px -33px rgba(255,150,150,0.94);
     display: grid;
     grid-template-columns: repeat(5, 15%) !important;
     justify-content: center;
     align-items: center;
     gap: 20px;
     padding: 15px 0px 15px 0px;
}

#container5 section{
     width: 65%;
     height: auto;
     justify-self: center;
     opacity: 0.4;
     transition: 0.3s;
     cursor: pointer;
}

#container5 section img{
     width: 100%;
     height: 100%;
}

#container5 section:hover {
     opacity: 1;
}

#container5 section p{
     text-align: center;
     margin-top: 10px;
     margin-bottom: 0px;
     font-family: sans-serif;
}

#container6 {
     width: 80%;
     margin: auto;
     margin-top: 4%;
     display: grid;
     grid-template-columns: repeat(3, 30%) !important;
     gap: 30px;
     justify-content: center;
}

#container6 section {
     box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.062);
     border-radius: 30px;
     padding: 20px;
     box-sizing: border-box;
     cursor: pointer;
}

#container6 section div:first-child {
     width: 100%;
     height: 30vh;
}

#container6 section div img{
     width: 100%;
     height: 100%;
}

#container6 section div:last-child {
     width: 100%;
     height: auto;
     margin-top: 5%;
}

#container6 section div:last-child h3{
     text-align: center;
     font-size: 1.2em;
     font-family: 'Roboto', sans-serif;
     color: #333;
}

#container6 section div:last-child h3:hover{text-decoration: underline;}

#container6 section div:last-child article {
     width: 100%;
     display: grid;
     grid-template-columns: 30% 30%;
     justify-content: space-around;
     margin-top: 5%;
     font-family: 'Arvo', serif;
     color: rgb(255, 113, 97);
}

#container6 section div:last-child article aside{
     display: flex;
     height: 100%;
}

#container6 section div:last-child article aside img{
     width: 30% !important;
     height: 100%;
}

#container7 {
     width: 75%;
     height: auto;
     margin: auto;
     display: block !important;
     text-align: center;
     margin-top: 8%;
}

#container7 h1 {
     font-family: 'Fjalla One', sans-serif;
     font-size: 2.5em;
     color: rgb(255, 92, 74);
}

#container7 #specialDealsContainer {
     width: 100%;
     display: grid;
     grid-template-columns: 100% !important;
     gap: 30px;
     margin-top: 4%;
}

#container7 #specialDealsContainer .boxDeals {
     width: 100%;
     height: 100%;
     border-radius: 30px;
     box-shadow: 1px 1px 20px 0px rgba(255, 150, 150, 0.226);
     padding: 20px;
     box-sizing: border-box;
}

#container7 #specialDealsContainer .boxDeals article{
     width: 100%;
     display: grid;
     grid-template-columns: 45% 55%;
}

#container7 #specialDealsContainer .boxDeals article aside{
     display: flex;
     flex-direction: column;
     align-items: center;
}

#container7 #specialDealsContainer .boxDeals article aside h3{
     font-family: Roboto, sans-serif;
     font-size: 1.6em;
}

#container7 #specialDealsContainer .boxDeals article aside .starContainerDeals {
     width: 100%;
     height: 20px;
     display: flex;
     justify-content: center;
     margin-top: 2%;
}

#container7 #specialDealsContainer .boxDeals article aside .starContainerDeals img{
     width: 5%;
     height: auto;
}

#container7 #specialDealsContainer .boxDeals article aside .contentDeals {
     width: 60%;
     margin-top: 5%;
}

#container7 #specialDealsContainer .boxDeals article aside .contentDeals article {
     height: 5vh;
     display: grid;
     grid-template-columns: 30% auto;
     font-family: sans-serif;
     color: #333;
     margin-top: 3%;
}

#container7 #specialDealsContainer .boxDeals article aside .contentDeals article p {
     align-self: center;
}

#container7 #specialDealsContainer .boxDeals article aside .contentDeals article img{
     width: 55%;
     height: 100%;
     justify-self: center;
}

#container7 #specialDealsContainer .boxDeals article aside h4{
     font-family: Roboto, sans-serif;
     font-size: 1em;
     margin-top: 8%;
}

#container7 #specialDealsContainer .boxDeals article aside h4 span{
     font-family: 'Arvo', serif;
     color: rgb(255, 113, 97);
}

#container7 #specialDealsContainer button {
     padding: 20px;
     border-radius: 50px;
     cursor: pointer;
     outline: none;
     background-color: #F90F00;
     color: white;
     border: 0px;
     font-size: 1.1em;
}

#container8 {
     width: 100%;
     background: url('../img/real/background.png');
     margin-top: 6%;
     display: grid;
     grid-template-columns: repeat(4, 20%) !important; 
     justify-content: center;
     gap: 30px;
     padding: 20px;
     box-sizing: border-box;
}

#container8 section {
     height: 100%;
     background-color: white;
     border-radius: 30px;
     box-shadow: -1px 14px 48px -33px rgba(255,150,150,0.94);
     padding: 20px;
     box-sizing: border-box;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
}

#container8 section img {
     width: 100%;
}

#container8 section h4 {
     font-family: 'Roboto', sans-serif;
     font-size: 1.3em;
     margin: 10px;
}

footer aside:nth-child(1) section:last-child p{
     margin: 20px 0px 20px 5%;
}

.active {opacity: 1 !important;}