@media only screen 
     and (min-width : 200px)
     and (max-width : 1028px) {
          body {
               height: 100vh;
          }

          main {
               grid-template-columns: 100%;
               height: auto !important;
               position: relative;
               align-items: center;
          }

          main section:first-child {
               width: 85%;
               margin: auto;
               z-index: 1;
               background-color: white;
               margin-top: 10%;
               padding: 20px;
          }

          main section:first-child img{
               height: 35px;
          }

          main section:first-child form label{
               font-size: 0.9em;
          }

          main section:first-child form p a{
               font-size: 0.7em;
          }

          main section:first-child h1{ 
               margin-top: 5%;
               font-size: 1.7em;
          }

          main section:last-child {
               position: absolute;
               height: 100vh;
               top: 0;
          }

          main section:last-child img{
               display: none;
          }

          main section:first-child form button {
               font-size: 0.9em;
          }
}

@media only screen 
     and (min-width : 768px) 
     and (max-width : 1024px) {
          main section:first-child {
               margin-top: 20%;
          }
}