@media only screen 
     and (min-width : 200px)
     and (max-width : 600px) {
          main {
               grid-template-columns: 100% !important;
               align-content: center !important;
          }

          main aside img{
               width: 80%;
               height: 100%;
          }

          main aside:last-child h2{
               font-size: 1.5em;
               text-align: center;
          }

          main aside:last-child {
               display: block;
               text-align: center;
               margin-top: 10%;
          }

          header main section:first-of-type{
               margin: 0px;
          }

          #container5 {
               width: 80%;
               grid-template-columns: 35% 35% !important;
               justify-self: center;
               margin-top: 10%;
               padding: 30px 0px;
               box-shadow: -1px 14px 43px -29px rgba(255,150,150,0.94);
          }

          #container6 {
               grid-template-columns: 100% !important;
               margin-top: 15%;
          }

          #container7 {
               width: 85%;
               margin-top: 20%;
          }

          #container7 #specialDealsContainer .boxDeals article{
               grid-template-columns: 100%;
          }

          #container7 #specialDealsContainer .boxDeals article img{
               width: 100%;
               grid-area: 1/1/2/2;
          }

          #container7 #specialDealsContainer .boxDeals article aside .starContainerDeals img{
               width: 7%;
          }

          #container7 #specialDealsContainer button {
               margin-top: 15%;
          }

          #container8 {
               grid-template-columns: 80% !important;
               margin-top: 15%;
          }

          #container8 img {width: 70% !important; }
}

@media only screen 
     and (min-width : 300px)
     and (max-width : 350px) {
          main aside:last-child h2{
               font-size: 1.3em;
          }

          main aside:last-child section button{
               padding: 15px;
          }

          #container7 #specialDealsContainer .boxDeals article aside .contentDeals article {
               height: 10vh;
          }

          #container7 #specialDealsContainer .boxDeals article aside .contentDeals article img{
               width: 100%;
          }
}

@media only screen 
     and (min-width : 768px)
     and (max-width : 1024px) {
          main aside img{
               width: 80%;
               height: 45%;
          }

          main aside:last-child section{
               justify-content: flex-start;
          }

          #container6 {
               grid-template-columns: repeat(2, 55%) !important;
               margin-top: 8%;
          }

          #container6 section div:first-of-type{
               height: 25vh !important;
          }

          #container7 {
               width: 85%;
          }

          #container7 #specialDealsContainer .boxDeals article{
               grid-template-columns: 100%;
          }

          #container7 #specialDealsContainer .boxDeals article img{
               width: 100%;
               grid-area: 1/1/2/2;
          }

          #container7 #specialDealsContainer .boxDeals article aside h3{
               font-size: 2em;
          }

          #container7 #specialDealsContainer .boxDeals article aside .contentDeals article p{
               font-size: 1.3em;
          }

          #container7 #specialDealsContainer .boxDeals article aside h4{
               font-size: 1.4em;
          }

          #container7 #specialDealsContainer .boxDeals article aside .starContainerDeals img{
               width: 4%;
          }

          #container7 #specialDealsContainer button {
               margin-top: 10%;
          }

          #container8 {
               grid-template-columns: repeat(2, 40%) !important;
          }
}